# alias.rc


alias ll='ls -l'
alias la='ls -A'
alias l='ls -CF'
alias v='nvim'
alias vi='nvim'
alias c='clear'
alias t='tree -L 1'
alias dc=deactivate

alias battery-status='upower -i /org/freedesktop/UPower/devices/battery_BAT1'
alias pingtest="ping -O 8.8.8.8 | gawk '{print ( \$5\" \"\$7) }'"
alias connect_sc='ssh -X jleon@141.30.147.25 -p5555'
alias link-ssh-port='ssh -L 8888:localhost:8888 -N -f -p 5555 -o ControlPath=~/.ssh/control:%h:%p:%r -q jleon@141.30.147.25'
